<h3>Cart</h3>
<p>
    <a routerLink = "/shipping">Shipping Prices</a>
</p>

<!--<div class="cart-item" *ngFor="let item of map | keyvalue">
    <span>{{item.key}}</span>
    <span>{{item.value}}</span>
</div>-->

<div *ngFor="let item of map | keyvalue">
    <div class="cart-item" *ngIf="item.value !== 0">
        <span>{{item.key.name}}</span>
        <span>{{item.key.price|currency}}</span>
        <span>{{item.value}}</span>
        <button (click) = deleteFromCart(item.key)>Remove</button>
    </div>
</div>


